#back{

	top:0px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;

  background-image: url("images/headerNew.png");
  min-height: 240px;
}

body {

top:0;
left:0;
margin:0;
padding:0;
background-position: top center;
  background-repeat: no-repeat;

  background-image: url("images/wood.png");

}

.everything{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}
.row {
    margin: 0px 0px 0px 0px;
    width: auto;
    border-width: 0px;
    display: flex;

}

.block {
    border-width: 3px;
    border-style: solid;
}

.square {
    height: 50px;
    width: 50px;
    color: black;
    background-color: #FFF1D0;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    border-style: solid;
    display: inline-block;
    border-width: 2px;
    line-height: 50px;
    font-size:   250%;
	font-family:Calibri, sans-serif;
}

.button{
	border-style:none;
	font-family: Calibri, sans-serif;
	font-size: 20px;
	color: #FFF1D0;
    background-color: #086788;
}

.button:hover{
	background-color:#06AED5;
}

#buttons{
	position: absolute;
	left:50%;
	transform: translate(-50%,0%);
}
.editable {
    height: 50px;
    width: 50px;
    color: #086788;
    border-color: black;
  /*  background-color: #ffffff; */
    background-color: #FFF1D0;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    border-style: solid;
    display: inline-block;
    border-width: 2px;
    line-height: 50px;
    font-size:   250%;
	font-family:Calibri, sans-serif;
}

.editablehighlight {
    height: 50px;
    width: 50px;
    color: #DD1C1A;
    border-color: black;
	background-color: #FFF1D0;
/*    background-color: #F0C808; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    border-style: solid;
	font-family:Calibri, sans-serif;
    display: inline-block;
    border-width: 2px;
    line-height: 50px;
    font-size:   250%;
}

