#back{

	top:0px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;

  background-image: url("background.png");
  min-height: 440px;
}

body {
    background-color: lightblue;
	background-position: top center;
  background-repeat: no-repeat;

  background-image: url("images/background.png");

}

.game{
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
}

.row {
    margin: 0px 0px 0px 0px;
    width: auto;
    border-width: 0px;
    display: flex;

}

.block {
    border-width: 3px;
    border-style: solid;
}

.square {
    height: 50px;
    width: 50px;
    color: black;
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    border-style: solid;
    display: inline-block;
    border-width: 2px;
    line-height: 50px;
    font-size:   250%;
}


.editable {
    height: 50px;
    width: 50px;
    color: red;
    border-color: black;
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    border-style: solid;
    display: inline-block;
    border-width: 2px;
    line-height: 50px;
    font-size:   250%;
}

.editablehighlight {
    height: 50px;
    width: 50px;
    color: red;
    border-color: black;
    background-color: yellow;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    border-style: solid;
    display: inline-block;
    border-width: 2px;
    line-height: 50px;
    font-size:   250%;
}

