<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.pgw.Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>com.pgw.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/api/game</url-pattern>
    </servlet-mapping>

    <!-- security-constraint>
        <web-resource-collection>
            <web-resource-name>Dashboard</web-resource-name>
            <url-pattern>/dashboard/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>API</web-resource-name>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Logout servlet</web-resource-name>
            <url-pattern>/logout</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>player</role-name>
        </auth-constraint>
    </security-constraint -->

    <security-role>
        <role-name>player</role-name>
    </security-role>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Dashboard</realm-name>
    </login-config>
</web-app>
